nav {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2rem;

  .dropdown-menu {
    
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    li {
      list-style-type: none;

      a {
        color: grey;
        text-decoration: none;
      }
    }
  }
  .dropdown-menu.show {
    display: flex;
    /* Ytterligare styling när menyn är synlig... */
}
}
