nav{
    display: flex;
    justify-content: center;
    
    
    li {
        list-style-type: none;
        
        a{
            color: grey;
            text-decoration: none;
        }
    }

}