nav {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    li {
      list-style-type: none;

      a {
        color: grey;
        text-decoration: none;
      }
    }
  }
}
