

.digitalContainer{
display: flex;
flex-direction: column;
background-color: rgb(237, 13, 13);
align-items:center;

}

#abortTimer{

    justify-content:end;
    align-items: end;
    
}

body{
    
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f5eeee;

}