

.digitalContainer{
display: flex;
flex-direction: column;
background-color: rgb(237, 13, 13);
align-items:center;

}

#abortTimer{

    justify-content:end;
    align-items: end;
    
}

body{

    background-color: beige;

}