 body {
  

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .main-wrapper {
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        height: 30vh;
      }
    }
  }
  nav{
    display: none;
  
    &.show {
      display: flex;
    }
  }
  

  #analogTimer {
     display: none;
  
    &.show {
      display: flex;
    }
    background-color: rgb(130, 214, 148);
  
    // Här kan du lägga till andra specifika stilar för #analogTimer om det behövs
  }
  
  #digitalTimer {
    display: none;
 
   &.show {
     display: flex;
   }
   background-color: rgb(187, 0, 255);
 
   // Här kan du lägga till andra specifika stilar för #analogTimer om det behövs
 }
}

