.pauseContainer {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;

    h1 {
        
        padding: 3rem;
    }

    button {
        padding: 0.5rem;
    } 

    button {
        margin-top: rem;
    }
    

  
}