body{
    background-color: #050505;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    

    main {
        width: 14rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #FFFFFF;
        font-weight: 700;
        /* font-size: large; */
        border-radius: 50%;
        box-shadow:
        0 0 10px 5px #fff,
        0 0 20px 10px #00f,
        0 0 30px 15px #0f0,
        0 0 40px 20px #f00;
        gap: 1rem;
        

        .img {
             height: 30vh;
        }
        
        .timerButton {
            padding: 0.5rem;
            opacity: 0.6;
            /* border: 1px solid #0000; */
            border-radius: 5px;
        }
        .timerButton &:hover {
            background-color: #f8f8f8;
        }


    }
}



