
  /* Update the SCSS styles */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  #timer-wrapper {
    width: 15%;
    height: 0vh; /* Set the fixed height of the wrapper container */
    background-color: #53085a;
    overflow: hidden; /* Hide overflowing content */
    position: fixed; /* Set position to fixed */
  }
  
  #timer-container {
    width: 250px;   /* Set a fixed width for the vertical bar */
    height: 0;      /* Start with height 0 to begin from the top */
    background-color: #53085a;
    transition: height 5s linear; /* Increase the duration for visibility */
    position: absolute; /* Set position to absolute */
    top: 0; /* Align to the top of the container */
  }
  
  #controls-wrapper {
    margin-top: 80vh; /* Adjust margin to align with the bottom of the timer-wrapper */
    display: flex;
    flex-direction: column; /* Align children in a column */
    align-items: center;
  }
  
  #durationInput {
    margin-bottom: 10px; /* Add margin for spacing */
  }