.dropdown-container{
    width:300px;
    height: 450px;
    border: 2px solid black;
    background-color: rgb(169, 230, 238);
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .dropdown-text{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    
    h3{
        margin-top: 1rem;
        cursor: pointer;
    }
}


