body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(0,129,142,0.8211659663865546) 1%, rgba(169,233,240,1) 22%, rgba(76,191,204,0.9051995798319328) 44%, rgba(0,127,142,1) 94%);
}

.landing-container{
    margin-top: 20rem;
    height: 100vh;
    width: 800px;
    display: 'flex';
    justify-content: center;
    align-items: center;
    position: absolute;

    .poster{
        border-radius: 50px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation-name: movein;
        animation-duration: 5s;
    
    }
    .logo{
        position: relative;
        bottom: 20rem;
        left: 23rem;
        cursor: pointer;
        animation-name: movein;
        animation-duration: 5s;
    }
    @keyframes movein {
        from {
            opacity: 0;
            transform: translateX(0%);
        }
    
        50% {}
    
        to {
            opacity: 1;
            transform: translateX(0%)
        }
    }
};





